h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}
h2 {
    color: green;
    font-family: arial;
    font-size: 300%;
}
h3 {
    color: red ;
    border: 1px solid blue;
    font-size: 160%;
}
#p01 {
    color: magenta;
    font-family: timesnewroman;
    font-size: 300%;
}

